*{
    margin: 0px;
    box-sizing: border-box;
    

}
#header{
    height: 60px;
    font-family: candara;
    padding: 10px;
}
#logo{
    height: 60px;
    width: 60px;
    margin-top: 10px;
    margin-left: 30px;
}
#heading{
    font-size: 20px;
    position:absolute;
    margin-left: 10px;
    margin-top: 25px;
}
#nav{
    margin-top: 30px;
    height: 50px;
    padding: 10px;
    /* background-color:#167392; */
    background-color: black;
}
#nav ul{
    list-style: none;
}
#nav ul li{
    display: inline;
    
}
#nav ul li a{
    text-decoration: none;
    color: white;
    margin-left: 60px;
    font-size: 22px;
}
#banner{
    
    height: 545px;
}
#ban_img{
    margin-top:30px ;
   margin-left: 300px;
    height: 545px;
    width: 60%;
    

}
#loginbox{
    height: auto;
    width: 400px;
    margin: auto;
    padding: 20px;
    font-family: candara;
    font-size: 24px;
    margin-top: 40px;
}
.input{
    height: 40px;
    width: 310px;
    margin: 8px;
    font-size: 16px;
}
.inputbtn{
    height: 40px;
    width: 310px;
    margin: 8px;
    border-width: 0px;
    font-size: 16px;
    background-color: black;
    color: white;
}
.demolink{
    color: seagreen;
    font-size: 16px;
    text-decoration: none;
}
.demolink:hover{
    color: red;
}
#space{
     margin-top: 80px; 
    margin-left: 20px; 
    /* width: 100%; */
}